<form [formGroup]="form">
    <div class="form-group">
        <input matInput placeholder="New password" formControlName="passwordnew" required>
        <ng-container *ngIf="form.get('passwordnew').invalid && form.get('passwordnew').touched">
            Please enter your new password
        </ng-container>
    </div>

    <div class="form-group">
        <input matInput placeholder="Confirm password" formControlName="passwordold">
        <ng-container *ngIf="form.get('passwordold').invalid && form.get('passwordold').touched">
            Passwords do not match
        </ng-container>
    </div>
</form>